/*
 * Style 2 - Basic Colors and Visibility
 * Defines text colors for body and links, adds visibility helper class
 * Introduces primary color for card categories and section taglines
 */
html {
    scroll-behavior: smooth;
}

body, a {
    color: #161616;
}

.visually-hidden {
    display: none;
}

.card-category, .section-tagline {
    color: #d73953;
}
