/* CSS styling for colors and visibility */
html {
    scroll-behavior: smooth;
}

body {
    color: #161616;
}

body a {
    color: #161616;
}

.visually-hidden {
    display: none;
}

.card-category, .section-tagline {
    color: #d73953;
}

